<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instafeed</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
    <link rel="stylesheet" href="/stylesheets/stylesheetCards.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div id="navbar">
            <div id="logo"> <h1><sup id='tinyTitleFont'>The </sup>BioLab<br><sup id='tinyTitleFont'>at </sup>hthi</h1></div>
            <div class="navItems">
                <ul id="quarterList">
                    <li class="quarterListItem"><a class="quarter" id='quarterOne' href="/instafeed/hthibiologyfall2021">Q1</a></li>
                    <li class='navSpacer'></li>
                    <li class="quarterListItem"><a class="quarter" id='quarterTwo' href="/instafeed/hthibiologyfall2021q2">Q2</a></li>
                    <li class='navSpacer'></li>
                    <li class="quarterListItem"><a class="quarter" id='quarterThree' href="/instafeed/hthibiologyspring2022q3">Q3</a></li>
                </ul>
                <ul class="hashtagList" id="hashtagListQuarterOne">
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiexperimentalresearchproject">Research Projects</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiplantcs">Botany</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiplanktontow">Marine Biology</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthivitaminccrystallization">Vitamin C</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthibiologyfall2021">All</a></li>
                </ul>
                <ul class="hashtagList" id="hashtagListQuarterTwo">
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthimossecosystemq2">Moss Ecology</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthientomologyq2">Entomology</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiplantcsq2">Botany</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiplanktontowq2">Marine Biology</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthivitaminccrystallizationq2">Vitamin C</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthibiologyfall2021q2">All</a></li>
                </ul>
                <ul class="hashtagList" id='hashtagListQuarterThree'>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiforensicshairq3">Hair</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiforensicsfibersq3">Fibers</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiforensicspollenq3">Pollen</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthibiologyspring2022q3">All</a></li>
                </ul>
            </div>
        </div>
        <div class="row container-fluid" id="row_2">
        <% let counter = 0%>
            <% for (let post of finalDisplayArray) { %>
                <% if (post.length === 6) { %>
                    <div class="cardRow" id='cardRow<%=counter%>'>
                        <div class="col">
                            <div class="card card1" id="card1">
                                <div class="cardSide cardSideFront card1Front" id='card1Front'>
                                    <div class="textbox textboxFront">
                                        <div class="dateAndCaption">
                                            <h3 class='date'><%=post[0].date%></h3>
                                            <p class='caption'><%=post[0].text%></p>
                                        </div>
                                        <div class='profiles'>
                                            <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                            <div class='profileList'>
                                                <% if (post[0].projectName != undefined) { %>
                                                    <div class='projectProfile'>
                                                        <div class="projectPicContainer">
                                                            <img class='projectPic' src='/media/icons/<%=post[0].projectHashtag%>.png'>
                                                            <h3 class='projectTitle'><%=post[0].projectName%></h3>
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="projectNamesContainer">
                                                            <% for (let name of post[0].studentNames) { %>
                                                                <div class="projectNameContainer">
                                                                    <img class='projectNamesPic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                                    <h3 class='projectNames'><%=name.firstName%> <%=name.lastName%></h3>
                                                                </div>
                                                            <% } %> 
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <% for (let name of post[0].studentNames) { %>
                                                        <div class='profile'>
                                                            <img class='profilePic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                            <h3 class='profileName'><%=name.firstName%><br><%=name.lastName%></h3>
                                                        </div>
                                                    <% } %>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <% if (post[0].mediaType === 'VIDEO') { %>
                                        <video class='img imgCardFront imgCard1Front' id='imgCard1Front' autoplay loop muted>
                                            <source src=<%=post[0].imgSource%>
                                                    type="video/mp4">
                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    <% } else { %>
                                        <img class='img imgCardFront imgCard1Front' id='imgCard1Front'src='<%=post[0].imgSource%>'>   
                                    <% } %>
                                </div>
                                <div class="cardSide cardSideBack card1Back" id='card1Back'>
                                    <div class="textbox textboxBack">
                                        <div class="dateAndCaption">
                                            <h3 class='date'><%=post[1].date%></h3>
                                            <p class='caption'><%=post[1].text%></p>
                                        </div>
                                        <div class='profiles'>
                                            <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                            <div class='profileList'>
                                                <% if (post[1].projectName != undefined) { %>
                                                    <div class='projectProfile'>
                                                        <div class="projectPicContainer">
                                                            <img class='projectPic' src='/media/icons/<%=post[3].projectHashtag%>.png'>
                                                            <h3 class='projectTitle'><%=post[1].projectName%></h3>
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="projectNamesContainer">
                                                            <% for (let name of post[1].studentNames) { %>
                                                                <div class="projectNameContainer">
                                                                    <img class='projectNamesPic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                                    <h3 class='projectNames'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                                </div>
                                                            <% } %> 
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <% for (let name of post[1].studentNames) { %>
                                                        <div class='profile'>
                                                            <img class='profilePic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                            <h3 class='profileName'><%=name.firstName%><br><%=name.lastName%></h3>
                                                        </div>
                                                    <% } %>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <% if (post[1].mediaType === 'VIDEO') { %>
                                        <video class='img imgCardBack imgCard1Back' id='imgCard1Back' autoplay loop muted>
                                            <source src=<%=post[1].imgSource%>
                                                    type="video/mp4">
                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    <% } else { %>
                                        <img class='img imgCardBack imgCard1Back' id='imgCard1Back' src='<%=post[1].imgSource%>'>   
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card2" id="card2">
                                <div class="cardSide cardSideFront card2Front" id='card2Front'>
                                    <div class="textbox textboxFront">
                                        <div class="dateAndCaption">
                                            <h3 class='date'><%=post[2].date%></h3>
                                            <p class='caption'><%=post[2].text%></p>
                                        </div>
                                        <div class='profiles'>
                                            <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                            <div class='profileList'>
                                                <% if (post[2].projectName != undefined) { %>
                                                    <div class='projectProfile'>
                                                        <div class="projectPicContainer">
                                                            <img class='projectPic' src='/media/icons/<%=post[2].projectHashtag%>.png'>
                                                            <h3 class='projectTitle'><%=post[2].projectName%></h3>
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="projectNamesContainer">
                                                            <% for (let name of post[2].studentNames) { %>
                                                                <div class="projectNameContainer">
                                                                    <img class='projectNamesPic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                                    <h3 class='projectNames'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                                </div>
                                                            <% } %> 
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <% for (let name of post[2].studentNames) { %>
                                                        <div class='profile'>
                                                            <img class='profilePic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                            <h3 class='profileName'><%=name.firstName%><br><%=name.lastName%></h3>
                                                        </div>
                                                    <% } %>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <% if (post[2].mediaType === 'VIDEO') { %>
                                        <video class='img imgCardFront imgCard2Front' id='imgCard2Front' autoplay loop muted>
                                            <source src=<%=post[2].imgSource%>
                                                    type="video/mp4">
                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    <% } else { %>
                                        <img class='img imgCardFront imgCard2Front' id='imgCard2Front'src='<%=post[2].imgSource%>'>   
                                    <% } %>
                                </div>
                                <div class="cardSide cardSideBack card2Back" id='card2Back'>
                                    <div class="textbox textboxBack">
                                        <div class="dateAndCaption">
                                            <h3 class='date'><%=post[3].date%></h3>
                                            <p class='caption'><%=post[3].text%></p>
                                        </div>
                                        <div class='profiles'>
                                            <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                            <div class='profileList'>
                                                <% if (post[3].projectName != undefined) { %>
                                                    <div class='projectProfile'>
                                                        <div class="projectPicContainer">
                                                            <img class='projectPic' src='/media/icons/<%=post[3].projectHashtag%>.png'>
                                                            <h3 class='projectTitle'><%=post[3].projectName%></h3>
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="projectNamesContainer">
                                                            <% for (let name of post[3].studentNames) { %>
                                                                <div class="projectNameContainer">
                                                                    <img class='projectNamesPic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                                    <h3 class='projectNames'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                                </div>
                                                            <% } %> 
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <% for (let name of post[3].studentNames) { %>
                                                        <div class='profile'>
                                                            <img class='profilePic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                            <h3 class='profileName'><%=name.firstName%><br><%=name.lastName%></h3>
                                                        </div>
                                                    <% } %>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <% if (post[3].mediaType === 'VIDEO') { %>
                                        <video class='img imgCardBack imgCard2Back' id='imgCard2Back' autoplay loop muted>
                                            <source src=<%=post[3].imgSource%>
                                                    type="video/mp4">
                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    <% } else { %>
                                        <img class='img imgCardBack imgCard2Back' id='imgCard2Back'src='<%=post[3].imgSource%>'>   
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card3" id="card3">
                                <div class="cardSide cardSideFront card3Front" id='card3Front'>
                                    <div class="textbox textboxFront">
                                        <div class="dateAndCaption">
                                            <h3 class='date'><%=post[4].date%></h3>
                                            <p class='caption'><%=post[4].text%></p>
                                        </div>
                                        <div class='profiles'>
                                            <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                            <div class='profileList'>
                                                <% if (post[4].projectName != undefined) { %>
                                                    <div class='projectProfile'>
                                                        <div class="projectPicContainer">
                                                            <img class='projectPic' src='/media/icons/<%=post[4].projectHashtag%>.png'>
                                                            <h3 class='projectTitle'><%=post[4].projectName%></h3>
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="projectNamesContainer">
                                                            <% for (let name of post[4].studentNames) { %>
                                                                <div class="projectNameContainer">
                                                                    <img class='projectNamesPic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                                    <h3 class='projectNames'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                                </div>
                                                            <% } %> 
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <% for (let name of post[4].studentNames) { %>
                                                        <div class='profile'>
                                                            <img class='profilePic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                            <h3 class='profileName'><%=name.firstName%><br><%=name.lastName%></h3>
                                                        </div>
                                                    <% } %>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <% if (post[4].mediaType === 'VIDEO') { %>
                                        <video class='img imgCardFront imgCard3Front' id='imgCard3Front' autoplay loop muted>
                                            <source src=<%=post[4].imgSource%>
                                                    type="video/mp4">
                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    <% } else { %>
                                        <img class='img imgCardFront imgCard3Front' id='imgCard3Front'src='<%=post[4].imgSource%>'>   
                                    <% } %>
                                </div>
                                <div class="cardSide cardSideBack card3Back" id='card3Back'>
                                    <div class="textbox textboxBack">
                                        <div class="dateAndCaption">
                                            <h3 class='date'><%=post[5].date%></h3>
                                            <p class='caption'><%=post[5].text%></p>
                                        </div>
                                        <div class='profiles'>
                                            <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                            <div class='profileList'>
                                                <% if (post[5].projectName != undefined) { %>
                                                    <div class='projectProfile'>
                                                        <div class="projectPicContainer">
                                                            <img class='projectPic' src='/media/icons/<%=post[5].projectHashtag%>.png'>
                                                            <h3 class='projectTitle'><%=post[5].projectName%></h3>
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="projectNamesContainer">
                                                            <% for (let name of post[5].studentNames) { %>
                                                                <div class="projectNameContainer">
                                                                    <img class='projectNamesPic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                                    <h3 class='projectNames'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                                </div>
                                                            <% } %> 
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <% for (let name of post[5].studentNames) { %>
                                                        <div class='profile'>
                                                            <img class='profilePic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                            <h3 class='profileName'><%=name.firstName%><br><%=name.lastName%></h3>
                                                        </div>
                                                    <% } %>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <% if (post[5].mediaType === 'VIDEO') { %>
                                        <video class='img imgCardBack imgCard3Back' id='imgCard3Back' autoplay loop muted>
                                            <source src=<%=post[5].imgSource%>
                                                    type="video/mp4">
                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    <% } else { %>
                                        <img class='img imgCardBack imgCard3Back' id='imgCard3Back'src='<%=post[5].imgSource%>'>   
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } else if (post.length === 4) { %>
                    <div class="cardRow" id='cardRow<%=counter%>'>
                        <div class="col">
                            <div class="card card1" id="card1">
                                <div class="cardSide cardSideFront card1Front" id='card1Front'>
                                    <div class="textbox">
                                        <div class="dateAndCaption">
                                            <h3 class='date'><%=post[0].date%></h3>
                                            <p class='caption'><%=post[0].text%></p>
                                        </div>
                                        <div class='profiles'>
                                            <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                            <div class='profileList'>
                                                <% if (post[0].projectName != undefined) { %>
                                                    <div class='projectProfile'>
                                                        <div class="projectPicContainer">
                                                            <img class='projectPic' src='/media/icons/<%=post[0].projectHashtag%>.png'>
                                                            <h3 class='projectTitle'><%=post[0].projectName%></h3>
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="projectNamesContainer">
                                                            <% for (let name of post[0].studentNames) { %>
                                                                <div class="projectNameContainer">
                                                                    <img class='projectNamesPic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                                    <h3 class='projectNames'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                                </div>
                                                            <% } %> 
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <% for (let name of post[0].studentNames) { %>
                                                        <div class='profile'>
                                                            <img class='profilePic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                            <h3 class='profileName'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                        </div>
                                                    <% } %>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <% if (post[0].mediaType === 'VIDEO') { %>
                                        <video class='img imgCardFront imgCard1Front' id='imgCard1Front' autoplay loop muted>
                                            <source src=<%=post[0].imgSource%>
                                                    type="video/mp4">
                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    <% } else { %>
                                        <img class='img imgCardFront imgCard1Front' id='imgCard1Front'src='<%=post[0].imgSource%>'>   
                                    <% } %>
                                </div>
                                <div class="cardSide cardSideBack card1Back" id='card1Back'>
                                    <div class="textbox">
                                        <div class="dateAndCaption">
                                            <h3 class='date'><%=post[1].date%></h3>
                                            <p class='caption'><%=post[1].text%></p>
                                        </div>
                                        <div class='profiles'>
                                            <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                            <div class='profileList'>
                                                <% if (post[1].projectName != undefined) { %>
                                                    <div class='projectProfile'>
                                                        <div class="projectPicContainer">
                                                            <img class='projectPic' src='/media/icons/<%=post[3].projectHashtag%>.png'>
                                                            <h3 class='projectTitle'><%=post[1].projectName%></h3>
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="projectNamesContainer">
                                                            <% for (let name of post[1].studentNames) { %>
                                                                <div class="projectNameContainer">
                                                                    <img class='projectNamesPic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                                    <h3 class='projectNames'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                                </div>
                                                            <% } %> 
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <% for (let name of post[1].studentNames) { %>
                                                        <div class='profile'>
                                                            <img class='profilePic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                            <h3 class='profileName'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                        </div>
                                                    <% } %>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <% if (post[1].mediaType === 'VIDEO') { %>
                                        <video class='img imgCardBack imgCard1Back' id='imgCard1Back' autoplay loop muted>
                                            <source src=<%=post[1].imgSource%>
                                                    type="video/mp4">
                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    <% } else { %>
                                        <img class='img imgCardBack imgCard1Back' id='imgCard1Back'src='<%=post[1].imgSource%>'>   
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card2" id="card2">
                                <div class="cardSide cardSideFront card2Front" id='card2Front'>
                                    <div class="textbox">
                                        <div class="dateAndCaption">
                                            <h3 class='date'><%=post[2].date%></h3>
                                            <p class='caption'><%=post[2].text%></p>
                                        </div>
                                        <div class='profiles'>
                                            <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                            <div class='profileList'>
                                                <% if (post[2].projectName != undefined) { %>
                                                    <div class='projectProfile'>
                                                        <div class="projectPicContainer">
                                                            <img class='projectPic' src='/media/icons/<%=post[2].projectHashtag%>.png'>
                                                            <h3 class='projectTitle'><%=post[2].projectName%></h3>
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="projectNamesContainer">
                                                            <% for (let name of post[2].studentNames) { %>
                                                                <div class="projectNameContainer">
                                                                    <img class='projectNamesPic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                                    <h3 class='projectNames'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                                </div>
                                                            <% } %> 
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <% for (let name of post[2].studentNames) { %>
                                                        <div class='profile'>
                                                            <img class='profilePic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                            <h3 class='profileName'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                        </div>
                                                    <% } %>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <% if (post[2].mediaType === 'VIDEO') { %>
                                        <video class='img imgCardFront imgCard2Front' id='imgCard2Front' autoplay loop muted>
                                            <source src=<%=post[2].imgSource%>
                                                    type="video/mp4">
                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    <% } else { %>
                                        <img class='img imgCardFront imgCard2Front' id='imgCard2Front'src='<%=post[2].imgSource%>'>   
                                    <% } %>
                                </div>
                                <div class="cardSide cardSideBack card2Back" id='card2Back'>
                                    <div class="textbox">
                                        <div class="dateAndCaption">
                                            <h3 class='date'><%=post[3].date%></h3>
                                            <p class='caption'><%=post[3].text%></p>
                                        </div>
                                        <div class='profiles'>
                                            <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                            <div class='profileList'>
                                                <% if (post[3].projectName != undefined) { %>
                                                    <div class='projectProfile'>
                                                        <div class="projectPicContainer">
                                                            <img class='projectPic' src='/media/icons/<%=post[3].projectHashtag%>.png'>
                                                            <h3 class='projectTitle'><%=post[3].projectName%></h3>
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="projectNamesContainer">
                                                            <% for (let name of post[3].studentNames) { %>
                                                                <div class="projectNameContainer">
                                                                    <img class='projectNamesPic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                                    <h3 class='projectNames'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                                </div>
                                                            <% } %> 
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <% for (let name of post[3].studentNames) { %>
                                                        <div class='profile'>
                                                            <img class='profilePic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                            <h3 class='profileName'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                        </div>
                                                    <% } %>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <% if (post[3].mediaType === 'VIDEO') { %>
                                        <video class='img imgCardBack imgCard2Back' id='imgCard2Back' autoplay loop muted>
                                            <source src=<%=post[3].imgSource%>
                                                    type="video/mp4">
                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    <% } else { %>
                                        <img class='img imgCardBack imgCard2Back' id='imgCard2Back'src='<%=post[3].imgSource%>'>   
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="cardRow" id='cardRow<%=counter%>'>
                        <div class="col">
                            <div class="card card1" id="card1">
                                <div class="cardSide cardSideFront card1Front" id='card1Front'>
                                    <div class="textbox">
                                        <div class="dateAndCaption">
                                            <h3 class='date'><%=post[0].date%></h3>
                                            <p class='caption'><%=post[0].text%></p>
                                        </div>
                                        <div class='profiles'>
                                            <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                            <div class='profileList'>
                                                <% if (post[0].projectName != undefined) { %>
                                                    <div class='projectProfile'>
                                                        <div class="projectPicContainer">
                                                            <img class='projectPic' src='/media/icons/<%=post[0].projectHashtag%>.png'>
                                                            <h3 class='projectTitle'><%=post[0].projectName%></h3>
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="projectNamesContainer">
                                                            <% for (let name of post[0].studentNames) { %>
                                                                <div class="projectNameContainer">
                                                                    <img class='projectNamesPic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                                    <h3 class='projectNames'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                                </div>
                                                            <% } %> 
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <% for (let name of post[0].studentNames) { %>
                                                        <div class='profile'>
                                                            <img class='profilePic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                            <h3 class='profileName'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                        </div>
                                                    <% } %>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <% if (post[0].mediaType === 'VIDEO') { %>
                                        <video class='img imgCardFront imgCard1Front' id='imgCard1Front' autoplay loop muted>
                                            <source src=<%=post[0].imgSource%>
                                                    type="video/mp4">
                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    <% } else { %>
                                        <img class='img imgCardFront imgCard1Front' id='imgCard1Front'src='<%=post[0].imgSource%>'>   
                                    <% } %>
                                </div>
                                <div class="cardSide cardSideBack card1Back" id='card1Back'>
                                    <div class="textbox">
                                        <div class="dateAndCaption">
                                            <h3 class='date'><%=post[1].date%></h3>
                                            <p class='caption'><%=post[1].text%></p>
                                        </div>
                                        <div class='profiles'>
                                            <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                            <div class='profileList'>
                                                <% if (post[1].projectName != undefined) { %>
                                                    <div class='projectProfile'>
                                                        <div class="projectPicContainer">
                                                            <img class='projectPic' src='/media/icons/<%=post[1].projectHashtag%>.png'>
                                                            <h3 class='projectTitle'><%=post[1].projectName%></h3>
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="projectNamesContainer">
                                                            <% for (let name of post[1].studentNames) { %>
                                                                <div class="projectNameContainer">
                                                                    <img class='projectNamesPic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                                    <h3 class='projectNames'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                                </div>
                                                            <% } %> 
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <% for (let name of post[1].studentNames) { %>
                                                        <div class='profile'>
                                                            <img class='profilePic' src='/media/studentHeadshots/<%=name.instaName%>.jpg'>
                                                            <h3 class='profileName'><%=`${name.firstName} ${name.lastName}`%></h3>
                                                        </div>
                                                    <% } %>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <% if (post[1].mediaType === 'VIDEO') { %>
                                        <video class='img imgCardBack imgCard1Back' id='imgCard1Back' autoplay loop muted>
                                            <source src=<%=post[1].imgSource%>
                                                    type="video/mp4">
                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    <% } else { %>
                                        <img class='img imgCardBack imgCard1Back' id='imgCard1Back'src='<%=post[1].imgSource%>'>   
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>   
                <% counter ++ %>
            <% } %>
        </div>
        <div class="toggleControlsContainer">
            <btn class="toggleControls" id="toggleBackwards"><</btn>
            <div class="rightToggleControlsContainer">
                <btn class="toggleControls" id="toggleForwards">></btn>
                <div class="playPauseBtnContainer">
                    <btn class="toggleControls playPauseControls" id="playPauseBtn">Pause</btn>
                    <btn class="toggleControls playPauseControls" id="fullScreenBtn">
                        <svg id='compressScreenIcon' aria-hidden="true" focusable="false" data-prefix="fas" data-icon="compress" class="svg-inline--fa fa-compress fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M436 192H312c-13.3 0-24-10.7-24-24V44c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v84h84c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm-276-24V44c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v84H12c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h124c13.3 0 24-10.7 24-24zm0 300V344c0-13.3-10.7-24-24-24H12c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h84v84c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-84h84c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12H312c-13.3 0-24 10.7-24 24v124c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12z"></path></svg>
                        <svg id='fullScreenIcon' aria-hidden="true" focusable="false" data-prefix="fas" data-icon="expand" class="svg-inline--fa fa-expand fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M0 180V56c0-13.3 10.7-24 24-24h124c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H64v84c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12zM288 44v40c0 6.6 5.4 12 12 12h84v84c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12V56c0-13.3-10.7-24-24-24H300c-6.6 0-12 5.4-12 12zm148 276h-40c-6.6 0-12 5.4-12 12v84h-84c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h124c13.3 0 24-10.7 24-24V332c0-6.6-5.4-12-12-12zM160 468v-40c0-6.6-5.4-12-12-12H64v-84c0-6.6-5.4-12-12-12H12c-6.6 0-12 5.4-12 12v124c0 13.3 10.7 24 24 24h124c6.6 0 12-5.4 12-12z"></path></svg>
                    </btn>
                </div>
            </div>
            
        </div>
        <%- include('./partials/footer')%>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/javaScripts/flipCards.js"></script>
</body>
</html>